<div class="gallery">
    <div class="conatiner">
        <div class="title">
            <h1>gallery</h1>
            <button>gallery Add</button>
        </div>
        <div class="row">
            <div class="div">
                <img src="../../assets/Image/Gallery1.webp" alt="">
            </div>
            <div class="div">
                <img src="../../assets/Image/Gallery2.jpg" alt="">
            </div>
            <div class="div">
                <img src="../../assets/Image/Gallery3.webp" alt="">
            </div>
        </div>
    </div>
</div>
