<div class="about">
    <div class="conatiner">
        <div class="div">
            <div class="row">
                <div class="img">
                    <img src="../../assets/Image/aboutUs.webp" alt="">
                </div>
                <div class="about-ccontent">
                    <h3>About Us</h3>
                    <p>The equipment and the hygiene that we maintain are as per international standards of client services, so you can expect nothing but only the best from us. We, dummy company, situated at area, city, state, would love to have you here at the studio to see & feel the positive vibes that go around here and get you in perfect style to match the Trend. You will really love our services just like all our other clients.</p>
                </div>
            </div>
        </div>
    </div>
</div>
