<div class="popup-overlay" >
    <div class="popup-content" >
        <i class="fa-solid fa-xmark"></i>
        <h2>Send Enquiry</h2>
        <div class="img-name">
            <img src="../../../assets/Image/service1.webp" alt="">
            <div class="name">
                <p>Nail Extensions</p>
            </div>
        </div>
        <hr>
        <div class="mobile-number">
            <label for="">Personal Details</label>
            <div class="input-group mb-3">
                <input type="number" max="5" class="form-control" placeholder="Mobile Number" >
            </div>
            <button>Continue</button>
        </div>
        <div class="enquire">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <textarea  class="scrollable-textarea" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
  </div>
  