<div class="service">
    <div class="containerm">
        <div class="title">
            <h1>Services</h1>
            <button>Service Add</button>
        </div>
        <div class="row">
            <div class="div">
                <div class="row">
                    <img src="../../assets/Image/service1.webp" alt="">
                    <div class="content">
                        <h3>Nail Extensions Edit</h3>
                        <p>Tired of your chipped, non-growing nails? Come and try our nail extensions, you’ll fall in love with your nails</p>
                        <button>Enquire Now</button>
                    </div>
                </div>
            </div>
            <div class="div">
                <div class="row">
                    <img src="../../assets/Image/service.webp" alt="">
                    <div class="content">
                        <h3>Nail Extensions Edit</h3>
                        <p>Tired of your chipped, non-growing nails? Come and try our nail extensions, you’ll fall in love with your nails</p>
                        <button>Enquire Now</button>
                    </div>
                </div>
            </div>
            <div class="div">
                <div class="row">
                    <img src="../../assets/Image/service3.webp" alt="">
                    <div class="content">
                        <h3>Nail Extensions Edit</h3>
                        <p>Tired of your chipped, non-growing nails? Come and try our nail extensions, you’ll fall in love with your nails</p>
                        <button>Enquire Now</button>
                    </div>
                </div>
            </div>
            <div class="div">
                <div class="row">
                    <img src="../../assets/Image/service4.webp" alt="">
                    <div class="content">
                        <h3>Nail Extensions Edit</h3>
                        <p>Tired of your chipped, non-growing nails? Come and try our nail extensions, you’ll fall in love with your nails</p>
                        <button>Enquire Now</button>
                    </div>
                </div>
            </div>
            <div class="div">
                <div class="row">
                    <img src="../../assets/Image/service4.webp" alt="">
                    <div class="content">
                        <h3>Nail Extensions Edit</h3>
                        <p>Tired of your chipped, non-growing nails? Come and try our nail extensions, you’ll fall in love with your nails</p>
                        <button>Enquire Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
