<header>
    <div class="containerm">
        <div class="flex">
            <div class="search">
                <input type="text" placeholder="Search...">
            </div>
            <div class="logo">
                <img src="../../assets/Image/1.png" alt="">
            </div>
            <div class="buttonheader">
                <button>login</button>
                <button>Cart</button>
            </div>
            
        </div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Our Service</li>
                <li>Our Work</li>
                <li>Product</li>
                <li>Book Appointment</li>
                <li>Hair Deals</li>
                <li>Nail Deals</li>
            </ul>
        </nav>
    </div>
</header>
