<div>
  <h1>{{title}}</h1>
  <div class="div">
    <div class="imgDiv">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <p class="Upload">Upload Image</p>
    </div>
    <div class="title">
      <label for="service-description">Service Description</label>
      <input type="text" class="sTitle" placeholder="Enter Service Title">
      <!-- <textarea name="" id="" rows="10" cols="20"></textarea> -->
      <div class="form-group">
        <label for="service-description">Service Description</label>
        <textarea id="service-description" class="scrollable-textarea"></textarea>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>